{% extends 'base.html' %}

{% block title %}{{ current_category.name }}{% endblock title %}

{% block content %}
  <h1>Объявления :</h1>
  <h2>Категория : {{ current_category.name }}</h2>
  <a href="{% url 'index' %}">Главная</a>

  {% for category in categories %}
    <a href="{% url 'by_category' category.pk %}">{{ category.name }}</a>

  {% endfor %}

  {% for bb in bbs %}
    <div>
        <p>{{ bb.title }}</p>
        <p>{{ bb.content }}</p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    </div>
  {% endfor %}
{% endblock content %}
