{% extends 'base.html' %}

{% block title %}Главная{% endblock title %}
{% block header %}Объявления :{% endblock header %}
{% block content %}

  {% for category in categories %}
    <a href="{% url 'by_category' category.pk %}">{{ category.name }}</a>

  {% endfor %}
  {% for bb in bbs %}
    <div>
        <p>{{ bb.title }}</p>
        <p>{{ bb.content }}</p>
        <p><a href="{% url 'by_category' bb.category.pk %}">{{ bb.category.name }}</a></p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    </div>

  {% endfor %}

{% endblock content %}
