<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="{% static 'bboard/style.css' %}" rel="stylesheet" type="text/css">
    <title>Доска объявлений - {% block title %}Главная{% endblock title %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Объявления :{% endblock header %}</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}"><h3>Главная</h3></a>
        <a href="{% url 'create' %}"><h4>Добавить</h4></a>
        {% block nav %}
        {% endblock nav%}
    </nav>
    <section>
        {% block content %}

        {% endblock content%}
    </section>
</body>
</html>